<a href="https://colab.research.google.com/github/Ankit7557/ML_Kidney_Disease/blob/Ankit7557-patch-1/Kidney_Disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
dataset_url='https://raw.githubusercontent.com/Ankit7557/ML_Kidney_Disease/main/kidney_disease.csv'
data=pd.read_csv(dataset_url)

In [92]:
data.head()

   id   age    bp     sg   al   su  ...   dm cad appet   pe  ane  classification
0   0  48.0  80.0  1.020  1.0  0.0  ...  yes  no  good   no   no             ckd
1   1   7.0  50.0  1.020  4.0  0.0  ...   no  no  good   no   no             ckd
2   2  62.0  80.0  1.010  2.0  3.0  ...  yes  no  poor   no  yes             ckd
3   3  48.0  70.0  1.005  4.0  0.0  ...   no  no  poor  yes  yes             ckd
4   4  51.0  80.0  1.010  2.0  0.0  ...   no  no  good   no   no             ckd

[5 rows x 26 columns]

Problem 1:

Perform Data-Processing & Prepare your data for Analysis & modelling purpose

In [93]:
description_url="https://raw.githubusercontent.com/Ankit7557/ML_Kidney_Disease/main/data_description.txt"
columns=pd.read_csv(description_url,sep="-")
columns=columns.reset_index()

In [94]:
columns.columns=['cols','col_names']
columns

               cols                col_names
0               id                        id
1              age                       age
2               bp            blood pressure
3               sg          specific gravity
4               al                   albumin
5               su                     sugar
6              rbc           red blood cells
7               pc                  pus cell
8              pcc           pus cell clumps
9               ba                  bacteria
10             bgr      blood glucose random
11              bu                blood urea
12              sc          serum creatinine
13             sod                    sodium
14             pot                 potassium
15            hemo               haemoglobin
16             pcv        packed cell volume
17              wc    white blood cell count
18              rc      red blood cell count
19             htn              hypertension
20              dm         diabetes mellitus
21             cad   coronary artery disease
22           appet                  appetite
23              pe               pedal edema
24             ane                    anemia
25  classification                     class

In [95]:
columns['col_names'].values

array(['id', 'age', 'blood pressure', 'specific gravity', 'albumin',
       'sugar', 'red blood cells', ' pus cell', 'pus cell clumps',
       'bacteria', 'blood glucose random', 'blood urea',
       'serum creatinine', 'sodium', 'potassium', 'haemoglobin',
       'packed cell volume', 'white blood cell count',
       'red blood cell count', 'hypertension', 'diabetes mellitus',
       'coronary artery disease', 'appetite', 'pedal edema', 'anemia',
       'class'], dtype=object)

In [96]:
data.columns=columns['col_names'].values

In [97]:
data.head()

   id   age  blood pressure  specific gravity  ...  appetite  pedal edema anemia class
0   0  48.0            80.0             1.020  ...      good           no     no   ckd
1   1   7.0            50.0             1.020  ...      good           no     no   ckd
2   2  62.0            80.0             1.010  ...      poor           no    yes   ckd
3   3  48.0            70.0             1.005  ...      poor          yes    yes   ckd
4   4  51.0            80.0             1.010  ...      good           no     no   ckd

[5 rows x 26 columns]

In [98]:
data.dtypes

id                           int64
age                        float64
blood pressure             float64
specific gravity           float64
albumin                    float64
sugar                      float64
red blood cells             object
 pus cell                   object
pus cell clumps             object
bacteria                    object
blood glucose random       float64
blood urea                 float64
serum creatinine           float64
sodium                     float64
potassium                  float64
haemoglobin                float64
packed cell volume          object
white blood cell count      object
red blood cell count        object
hypertension                object
diabetes mellitus           object
coronary artery disease     object
appetite                    object
pedal edema                 object
anemia                      object
class                       object
dtype: object

Converting  packed cell volume, white blood cell count, red blood cell count  which are of type object(but given in numeric) into numeric type.

In [99]:
def convert_dtype(data,feature):
  data[feature] = pd.to_numeric(data[feature],errors= 'coerce')

In [100]:
features=['packed cell volume', 'white blood cell count', 'red blood cell count']

for feature in features:
  convert_dtype(data,feature)

In [101]:
data.dtypes

id                           int64
age                        float64
blood pressure             float64
specific gravity           float64
albumin                    float64
sugar                      float64
red blood cells             object
 pus cell                   object
pus cell clumps             object
bacteria                    object
blood glucose random       float64
blood urea                 float64
serum creatinine           float64
sodium                     float64
potassium                  float64
haemoglobin                float64
packed cell volume         float64
white blood cell count     float64
red blood cell count       float64
hypertension                object
diabetes mellitus           object
coronary artery disease     object
appetite                    object
pedal edema                 object
anemia                      object
class                       object
dtype: object

In [102]:
data.drop('id',axis=1,inplace=True)

Problem 2:

Apply data cleaning techinques on data and Clean our data

In [103]:
data.head()

    age  blood pressure  specific gravity  ...  pedal edema  anemia class
0  48.0            80.0             1.020  ...           no      no   ckd
1   7.0            50.0             1.020  ...           no      no   ckd
2  62.0            80.0             1.010  ...           no     yes   ckd
3  48.0            70.0             1.005  ...          yes     yes   ckd
4  51.0            80.0             1.010  ...           no      no   ckd

[5 rows x 25 columns]

In [104]:
 def extract_cat_and_num(data):
  categorical_column=[col for col in data.columns if data[col].dtype=='object']
  numerical_column=[col for col in data.columns if data[col].dtype!='object']
  return categorical_column,numerical_column

In [105]:
categorical_column,numerical_column=extract_cat_and_num(data)

In [106]:
categorical_column

['red blood cells',
 ' pus cell',
 'pus cell clumps',
 'bacteria',
 'hypertension',
 'diabetes mellitus',
 'coronary artery disease',
 'appetite',
 'pedal edema',
 'anemia',
 'class']

In [107]:
numerical_column

['age',
 'blood pressure',
 'specific gravity',
 'albumin',
 'sugar',
 'blood glucose random',
 'blood urea',
 'serum creatinine',
 'sodium',
 'potassium',
 'haemoglobin',
 'packed cell volume',
 'white blood cell count',
 'red blood cell count']

In [108]:
for col in categorical_column:
  print('{} has {} values '.format(col,data[col].unique()))
  print('\n')

red blood cells has [nan 'normal' 'abnormal'] values


 pus cell has ['normal' 'abnormal' nan] values


pus cell clumps has ['notpresent' 'present' nan] values


bacteria has ['notpresent' 'present' nan] values


hypertension has ['yes' 'no' nan] values


diabetes mellitus has ['yes' 'no' ' yes' '\tno' '\tyes' nan] values


coronary artery disease has ['no' 'yes' '\tno' nan] values


appetite has ['good' 'poor' nan] values


pedal edema has ['no' 'yes' nan] values


anemia has ['no' 'yes' nan] values


class has ['ckd' 'ckd\t' 'notckd'] values

removing dirtiness or noise in our data

In [109]:
data['diabetes mellitus']=data['diabetes mellitus'].replace(to_replace={'\tno':'no','\tyes':'yes'})
data['coronary artery disease']=data['coronary artery disease'].replace(to_replace='\tno',value='no')
data['class']=data['class'].replace(to_replace='ckd\t',value='ckd')

In [110]:
for col in categorical_column:
  print('{} has {} values '.format(col,data[col].unique()))
  print('\n')

red blood cells has [nan 'normal' 'abnormal'] values


 pus cell has ['normal' 'abnormal' nan] values


pus cell clumps has ['notpresent' 'present' nan] values


bacteria has ['notpresent' 'present' nan] values


hypertension has ['yes' 'no' nan] values


diabetes mellitus has ['yes' 'no' ' yes' nan] values


coronary artery disease has ['no' 'yes' nan] values


appetite has ['good' 'poor' nan] values


pedal edema has ['no' 'yes' nan] values


anemia has ['no' 'yes' nan] values


class has ['ckd' 'notckd'] values